<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>User List</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users | async">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>
                        <button (click)="getUserSnippet(user.id)" type="button" class="btn btn-primary">Snippet</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
